.rotate-center{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}


.image-row008 img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
}

/*tallleressssssssssssssssss*/ 

.boxtaller{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .cardtaller{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin:0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .cardtaller:before,
  .cardtaller:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .cardtaller:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .cardtaller:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .cardtaller .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .cardtaller:hover .imgBx
  {
    bottom: 80px;
  }
  
  .cardtaller .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .cardtaller .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }
  
  .cardtaller .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 
  
  .cardtaller .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 
.plat_interno {
  padding-top: 40px;
  padding-bottom: 20px;
}
   .herr__online {
    padding: 4px;
    width: 30%;
    margin-top: 20px;
    border: solid 2px red;
  }
  .herr__online p {
    text-align: center;
  }
  .herr__online h4 {
    margin-top: -50px;
    text-align: center;
  }
  
  .herr__online img {
    background-color: white;
    height: 100px;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .item_herr h4:hover {
    color: yellow; /* Cambia el color del texto a amarillo */
  }


/* NOTICIAS INICAL ********************************** */
/* Importación de la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/* Variables */
:root {

  --san-juan: #2d4e68;
  --bermuda: #77d7b9;
  --white: #fff;
  --black: #000;
  --open-sans: 'Open Sans', sans-serif;
}

/* Mixin para clearfix */
.cf::before,
.cf::after {
  content: '';
  display: table;
}
.cf::after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, var(--regal-blue), var(--san-juan));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: var(--open-sans);
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--open-sans);
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}
.cont_primary_noti_inici{
  display: flex;
  justify-content: space-around;

}
.cont_noti_inicial{
  width: 400px;
}
/* Estilos base */
.cardd01 {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
}
.cardd01 .submenu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cardd01 .submenu-content li {
  display: inline-block;
}
.cardd01 .submenu-content a {
  color: var(--white);
}
.cardd01.submenu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}
.cardd01 .wrappper {
  background-color: var(--white);
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.cardd01 .wrappper:hover .data {
  transform: translateY(0);
}
.cardd01 .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.cardd01 .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.cardd01 .author {
  font-size: 12px;
}
.cardd01 .title {
  margin-top: 10px;
}
.cardd01 .text {
  height: 70px;
  margin: 0;
}
.cardd01 input[type='checkbox'] {
  display: none;
}
.cardd01 input[type='checkbox']:checked + .submenu-content {
  transform: translateY(-60px);
}

/* Estilos para el primer ejemplo */
.example-1 .wrappper {
  background: url(../img/SANJUANBOSO/Feliz\ dia\ Mamita.jpg) center / cover no-repeat;
}
.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bermuda);
  color: var(--white);
  padding: 0.8em;
}
.example-1 .date span {
  display: block;
  text-align: center;
}
.example-1 .date .day {
  font-weight: 700;
  font-size: 24px;
}
.example-1 .date .month {
  text-transform: uppercase;
}
.example-1 .date .month,
.example-1 .date .year {
  font-size: 12px;
}
.example-1 .content {
  background-color: var(--white);
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
  color: lighten(var(--black), 50%);
}
.example-1 .submenu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.example-1 .submenu-button span {
  width: 5px;
  height: 5px;
  background-color: lighten(var(--black), 50%);
  color: lighten(var(--black), 50%);
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.example-1 .submenu-button span::after,
.example-1 .submenu-button span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.example-1 .submenu-button span::before {
  left: -10px;
}
.example-1 .submenu-button span::after {
  right: -10px;
}
.example-1 .submenu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: transform 0.3s;
}
.example-1 .submenu-content li {
  width: 33.333333%;
  float: left;
  background-color: var(--bermuda);
  height: 60px;
  position: relative;
}
.example-1 .submenu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.example-1 .submenu-content span {
  top: -10px;
}


/* ENDNOTICIAS INICAL ********************************** */


@media screen and (max-width: 400px) {
  .padre {
    flex-direction: column;
    align-items: center;
  }
}

